{% load static %}


	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header" style="top: 0px;">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>

				<span class="topbar-child1">
					Free shipping for standard order over $100
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						fashe@example.com
					</span>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<img src="{% static 'new/images/icons/logo.png' %}" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Home</a>

							</li>

							<li>
								<a href="/products/">Shop</a>
                                <ul class="sub_menu">
									<li><a href="/products/1">Men</a></li>
									<li><a href="/products/2">Women</a></li>
									<li><a href="/products/3">Kids</a></li>
								</ul>
							</li>

							<li class="sale-noti">
								<a href="/products/sale">Sale</a>
							</li>

							<li>
								<a href="/blog">Blog</a>
							</li>

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">

					<div class="header-wrapicon2">
						<img src="{% static 'new/images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">
                            {% if total_nmb  %}
                            {{ total_nmb }}
                            {% else %}
                            0
                            {% endif %}
                        </span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
                                <script>var array = [];</script>
                            {% if total_nmb  %}
                                {% for product_in_basket in products_in_basket %}
                                        <li class="header-cart-item deleted-obj" id_product = "{{ product_in_basket.id }}">
                                        <div class="header-cart-item-img delete-object" id="{{ product_in_basket.id }}">
                                            <img src="{{ product_in_basket.img }}" alt="IMG">
                                        </div>

                                        <div class="header-cart-item-txt">
                                            <a href="/products/product/{{ product_in_basket.product.id }}" class="header-cart-item-name">
                                                {{ product_in_basket.product.product_name }}
                                            </a>

                                            <span class="header-cart-item-info">
                                                {{ product_in_basket.nmb }} x ${{ product_in_basket.price_per_item }}
                                            </span>
                                        </div>
								    </li>
                                    <script>
                                    var smm={{ product_in_basket.nmb }} * {{ product_in_basket.price_per_item }}
                                        array.push(smm)
                                    </script>

                                {% endfor %}

                            {% else %}
                            Basket is empty
                            {% endif %}
							</ul>

							<div class="header-cart-total">

								Total: $<span class="total-price" id="total-price"></span>

							</div>
                            <script>
                                var sum = 0;
                                  for(var i = 0; i < array.length; i++){
                                      sum = sum + array[i];
                                  }
                                  document.getElementById("total-price").innerHTML = sum.toFixed(2);
                            </script>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="{% static 'new/images/icons/logo.png' %}" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="{% static 'new/images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="{% static 'new/images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">
                            {% if total_nmb  %}
                            {{ total_nmb }}
                            {% else %}
                            0
                            {% endif %}
                        </span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<script>var array = [];</script>
                            {% if total_nmb  %}
                                {% for product_in_basket in products_in_basket %}
                                        <li class="header-cart-item deleted-obj" id_product = "{{ product_in_basket.id }}">
                                        <div class="header-cart-item-img delete-object" id="{{ product_in_basket.id }}">
                                            <img src="{{ product_in_basket.img }}" alt="IMG">
                                        </div>

                                        <div class="header-cart-item-txt">
                                            <a href="/products/product/{{ product_in_basket.product.id }}" class="header-cart-item-name">
                                                {{ product_in_basket.product.product_name }}
                                            </a>

                                            <span class="header-cart-item-info">
                                                {{ product_in_basket.nmb }} x ${{ product_in_basket.price_per_item }}
                                            </span>
                                        </div>
								    </li>
                                    <script>
                                    var smm={{ product_in_basket.nmb }} * {{ product_in_basket.price_per_item }}
                                        array.push(smm)
                                    </script>

                                {% endfor %}

                            {% else %}
                            Basket is empty
                            {% endif %}
							</ul>

							<div class="header-cart-total">
								Total: $<span class="total-price" id="total-price-m"></span>
							</div>
                            <script>
                                var sum = 0;
                                  for(var i = 0; i < array.length; i++){
                                      sum = sum + array[i];
                                  }
                                  document.getElementById("total-price-m").innerHTML = sum.toFixed(2);
                            </script>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu">
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="/">Home</a>


					</li>

					<li class="item-menu-mobile">
						<a href="/products/">Shop</a>
                        <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                            <ul class="sub_menu">
                                <li><a href="products/1">Man</a></li>
                                <li><a href="products/2">Woman</a></li>
                                <li><a href="products/3">Child</a></li>
                            </ul>
					</li>
					<li class="item-menu-mobile">
						<a href="/products/">Sale</a>
					</li>

					<li class="item-menu-mobile">
						<a href="cart.html">Features</a>
					</li>

					<li class="item-menu-mobile">
						<a href="blog.html">Blog</a>
					</li>

					<li class="item-menu-mobile">
						<a href="about.html">About</a>
					</li>

					<li class="item-menu-mobile">
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>